fastapi
uvicorn[standard]
motor
python-dotenv
pydantic
pydantic-settings
python-jose[cryptography]
bcrypt
python-multipart
python-socketio
cloudinary
httpx
slowapi
limits
aiofiles
pydantic[email]
celery[redis]
Pillow
